@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap);
.headsec .container,header .container{justify-content:space-between;display:flex}
.container,header nav .other-links .mega-menu ul.links li a i{padding-right:15px}
.headsec a i,h2{font-size:30px}
.articles .container .card,.gallery .ph::before,header nav>ul>li>a,header nav>ul>li>a::before{transition:var(--main-transition)}
.articles,.features,.gallery,.latest-events,.pricing,.stats,.testimonials,.videos,.work-steps,section.services,section.skills,section.team{padding-top:var(--top-sec-padding);padding-bottom:var(--bottom-sec-padding)}
:root{--main-color:#2196f3;--alt-main-color:#1787e0;--subtext-color:#666;--subtext-color-2:#777;--main-transition:0.3s;--top-sec-padding:100px;--bottom-sec-padding:100px;--section-background-color:#ececec}
*{padding:0;margin:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;scrollbar-color:#2196f3 #ececec}
::-webkit-scrollbar{width:16px}
::-webkit-scrollbar-track{background:#ececec}
::-webkit-scrollbar-thumb{background-color:#2196f3}
html{scroll-behavior:smooth;user-select:none}
body{font-family:Cairo,sans-serif}
a{text-decoration:none}
ul{list-style:none}
.container{padding-left:15px;margin-left:auto;margin-right:auto}
@media (min-width:768px){
.container{width:750px}
}
@media (min-width:992px){
.container{width:970px}
}
@media (min-width:1200px){
.container{width:1170px}
}
h2{text-align:center;text-transform:uppercase;width:fit-content;margin:0 auto 80px;padding:10px 20px;border:2px solid #000;position:relative;z-index:100}
@media (max-width:250px){
h2{font-size:25px}
}
h2::after,h2::before{content:"";width:12px;height:12px;background-color:var(--main-color);border-radius:50%;position:absolute;bottom:calc(50% - 6px);transition:.5s}
.headsec,header,header .container,header nav .other-links .mega-menu ul.links li,section.team .container .member{position:relative}
h2::before{left:-30px}
h2::after{right:-30px}
h2:hover::before{z-index:-1;animation:.5s linear forwards left-to-right}
h2:hover::after{z-index:-1;animation:.5s linear forwards right-to-left}
@keyframes left-to-right{
50%{left:0}
100%{left:0;bottom:0;width:55%;height:100%;border-radius:0}
}
@keyframes right-to-left{
50%{right:0}
100%{right:0;bottom:0;width:55%;height:100%;border-radius:0}
}
h2:hover{color:#fff;border:solid 2px var(--main-color);transition-delay:.5s;transition-timing-function:linear}
.spikes{position:relative;background:#fff;height:100px}
.spikes::after{content:'';position:absolute;right:0;left:0;top:100%;z-index:10;display:block;height:35px;background-size:35px 100%;background-image:linear-gradient(135deg,#fff 25%,transparent 25%),linear-gradient(225deg,#fff 25%,transparent 25%);background-position:0 0}
.articles .container .card .more a,.articles .container .card .more i,.headsec a,.videos .container .videos-list ul li:hover a,header .logo,section.team .container .member .icon a:hover i{color:var(--main-color)}
header{box-shadow:0 0 10px #ddd;background-color:#fff}
header .container{align-items:center;flex-wrap:wrap}
header .logo{font-size:25px;font-weight:700;display:flex;align-items:center;justify-content:center;height:72px}
header nav>ul{display:flex}
header nav>ul>li>a{color:#000;padding:0 30px;font-size:18px;height:72px;display:flex;align-items:center;justify-content:center;overflow:hidden;position:relative}
header nav>ul>li>a::before{content:"";position:absolute;width:100%;height:4px;background-color:var(--main-color);top:0;left:-100%}
.features .container .card:hover a::before,header nav>ul>li>a:hover::before{left:0}
header nav>ul>li>a:hover{background-color:#fafafa}
header nav .other-links .mega-menu{position:absolute;width:100%;left:0;top:calc(100% + 50px);z-index:-100;opacity:0;display:flex;align-items:center;gap:40px;background-color:#fff;padding:50px;border-bottom:solid 4px var(--main-color);transition:top var(--main-transition),opacity var(--main-transition)}
header nav li:hover .mega-menu{top:calc(100% + 1px);opacity:1;z-index:100}
.articles .container .card img,.features .container .card img,.videos .container .video img,header nav .other-links .mega-menu img{max-width:100%}
.work-steps .container .step .info,header nav .other-links .mega-menu ul.links,section.skills .container .skills-container{flex:1}
header nav .other-links .mega-menu ul.links li::before{content:"";position:absolute;height:100%;width:0;left:0;top:0;background-color:#fafafa;z-index:-1;transition:var(--main-transition)}
.latest-events .container .forms,.pricing .plan:hover::after,.pricing .plan:hover::before,.services .container .card:hover::before,header nav .other-links .mega-menu ul.links li:hover:before{width:100%}
header nav .other-links .mega-menu ul.links li:not(:last-child){border-bottom:1px solid #e9e6e6}
header nav .other-links .mega-menu ul.links li a{display:flex;align-items:center;padding:15px;min-width:240px;font-size:18px;color:var(--main-color);font-weight:700;text-transform:capitalize}
.headsec::before{content:"";width:100%;min-height:100%;z-index:-10;position:absolute;transform:skewY(-6deg);transform-origin:top left;top:-40px;left:0;background-color:var(--section-background-color)}
.headsec .container{min-height:calc(100vh - 72px);align-items:center}
.headsec .container .text h1{font-size:35px;text-transform:capitalize;word-spacing:-3px}
.headsec .container .text p{font-size:20px;color:#333;line-height:1.8}
.headsec .container .img img{max-width:600px;position:relative;animation:5s linear infinite up-and-down}
.headsec a{position:absolute;bottom:2em;left:50%;transform:translate(-50%)}
.headsec a:hover{color:var(--alt-main-color)}
.articles .container{display:grid;grid-template-columns:repeat(auto-fill,minmax(250px,1fr));gap:40px}
.articles .container .card{box-shadow:rgba(99,99,99,.2) 0 2px 15px;overflow:hidden;border-radius:6px;background-color:#fff;height:fit-content}
.articles .container .card:hover{transform:translateY(-20px)}
.articles .container .card:hover .more i{animation:.5s linear infinite X-moving}
.articles .container .card h3{padding:20px 20px 10px;text-transform:capitalize}
.articles .container .card p{padding:0 20px 20px;color:var(--subtext-color);line-height:1.4}
.articles .container .card .more{padding:20px;border-top:1px solid #d1d1d1;display:flex;justify-content:space-between}
.articles .container .card .more a{font-weight:800;text-transform:capitalize}
.gallery,.pricing,.testimonials,.work-steps,section.services{background-color:var(--section-background-color)}
.features .container,.gallery .container,.testimonials .container,section.services .container,section.team .container{display:grid;grid-template-columns:repeat(auto-fill,minmax(300px,1fr));gap:40px}
.gallery .ph{border:15px solid #fff;box-shadow:rgba(17,17,26,.1) 0 4px 16px,rgba(17,17,26,.1) 0 8px 24px,rgba(17,17,26,.1) 0 16px 56px;overflow:hidden;display:flex;align-items:center;justify-content:center;position:relative}
.gallery .ph::before{content:"";position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background-color:rgb(255 255 255 / 20%);width:0;height:0;z-index:1}
.gallery .ph:hover::before{animation:fill var(--main-transition) alternate linear}
.gallery .ph:hover img{transform:scale(1.1) rotate(6deg);transform-origin:center;transition:transform var(--main-transition) linear}
@keyframes fill{
form{width:0;height:0}
to{width:100%;height:100%}
}
.gallery .ph img{max-width:100%;transition:var(--main-transition)}
.features .container .card{background-color:#fff;border:1px solid #cecece}
.quality{--feat-color:rgb(244 64 54)}
.time{--feat-color:rgb(0 150 136)}
.passion{--feat-color:rgb(3 169 244)}
.features .container .card .img-box{position:relative;overflow:hidden}
.features .container .card .img-box::before{content:"";position:absolute;top:0;left:0;height:100%;width:100%;background-color:var(--feat-color);transition:var(--main-transition);opacity:.7;z-index:2}
.features .container .card:hover .img-box::before{width:0}
.features .container .card .img-box::after{content:"";position:absolute;transform:translate(20%);border-width:0 0 180px 700px;border-style:solid;border-color:transparent transparent #fff;bottom:-1px;right:-10px;transition:var(--main-transition);z-index:3}
.features .container .card:hover .img-box::after{border-width:0 700px 180px 0}
.features .container .card h3{margin:auto;width:fit-content;font-size:40px;position:relative}
.features .container .card h3::before{content:"";position:absolute;bottom:-20px;right:20px;width:calc(100% - 40px);height:5px;background-color:var(--feat-color)}
.features .container .card p{padding:25px;margin:30px 0;font-size:20px;line-height:2;color:var(--subtext-color-2);text-align:center}
.features .container .card a{display:block;width:fit-content;margin:30px auto;padding:10px 30px;font-weight:700;font-size:22px;border:4px solid var(--feat-color);color:var(--feat-color);border-radius:6px;position:relative;z-index:2;overflow:hidden}
.latest-events .container .counter>span,.pricing .plan .price,.pricing .plan>a{font-weight:800;color:var(--main-color)}
.features .container .card a::before{content:"";position:absolute;width:205%;height:100%;left:-105%;top:0;background-image:linear-gradient(to right,var(--feat-color) 51%,#fff 49%);z-index:-1;transition:var(--main-transition)}
.features .container .card:hover a,footer .container .important-links li.link:hover a{color:#fff}
.testimonials .container .opinion{background-color:#fff;padding:20px;border-radius:6px;position:relative}
.testimonials .container .opinion img{position:absolute;width:100px;border:solid 10px var(--section-background-color);border-radius:50%;right:-10px;top:-50px}
.testimonials .container .opinion h3{text-transform:capitalize;font-size:21px}
.testimonials .container .opinion p:first-of-type{color:var(--subtext-color-2);text-transform:capitalize;font-size:17px;padding:10px 0 4px}
.testimonials .container .opinion .stars{color:gold;font-size:25px;letter-spacing:-2.5px}
.testimonials .container .opinion .stars span.half{position:relative;z-index:2;color:gold}
.testimonials .container .opinion .stars span.half::before{content:"";position:absolute;display:block;right:-2.5px;top:30%;height:40%;width:44%;background-color:#fff;z-index:3;transform:rotate(18deg)}
.testimonials .container .opinion p:last-child{padding-top:2px;color:var(--subtext-color-2);font-size:17px;line-height:1.5}
section.team h2{overflow:hidden}
section.team .container .member::after,section.team .container .member::before{content:"";position:absolute;right:0;top:0;height:100%;border-radius:10px}
section.team .container .member::before{z-index:-2;width:calc(100% - 60px);background-color:var(--section-background-color)}
section.team .container .member::after{z-index:-1;width:0;background-color:#e0e0e0;transition:var(--main-transition);left:60px}
section.team .container .member:hover::after{width:calc(100% - 60px)}
section.team .container .member .data{padding-top:60px;display:flex;align-items:center}
section.team .container .member img{max-width:calc(100% - 60px);border-radius:10px;transition:var(--main-transition)}
section.team .container .member:hover img{filter:grayscale(85%)}
section.team .container .member .icon{display:flex;flex-direction:column;gap:28px;width:60px;justify-content:center}
section.team .container .member .icon a{width:60px;text-align:center;padding:5px}
section.team .container .member .icon i{color:var(--subtext-color-2);font-size:20px}
section.team .container .member .info{padding:20px 20px 20px 80px}
section.team .container .member h3{font-size:22px;text-transform:capitalize;color:var(--main-color);padding-bottom:10px;transition:var(--main-transition)}
section.team .container .member:hover h3{color:var(--subtext-color)}
section.team .container .member p{font-size:18px;color:var(--subtext-color);text-transform:capitalize}
.services .container .card{background-color:#fff;box-shadow:rgba(17,17,26,.1) 0 4px 16px,rgba(17,17,26,.05) 0 8px 32px;transition:var(--main-transition);position:relative}
.services .container .card:hover{transform:translateY(-10px)}
.services .container .card::before{content:"";position:absolute;height:3px;left:50%;top:-3px;transform:translateX(-50%);background-color:var(--main-color);width:0;transition:var(--main-transition)}
.services .container .card .card-head{text-align:center;padding:30px}
.services .container .card-head i{font-size:60px;color:#d6d6d6}
.services .container .card h3{font-size:25px;color:var(--main-color);margin-top:20px;margin-bottom:10px}
.services .container .card div:last-child{display:flex;justify-content:space-between;align-items:center;overflow:hidden;background-color:#f8f8f8}
.services .container .card div:last-child span{font-size:25px;font-weight:900;padding:10px 40px 10px 20px;background-color:var(--main-color);color:#fff;position:relative}
.services .container .card div:last-child span::before{content:"";position:absolute;width:50px;height:150%;transform:rotate(22.5deg);right:-30px;top:-12px;background-color:#d9d9d9}
.services .container .card div:last-child a{padding:10px 20px;color:var(--main-color)}
.work-steps .container,section.skills .container{display:flex;gap:50px;align-items:center}
.latest-events .container img,.work-steps .container img,section.skills .container img{max-width:500px}
section.skills .container .skills-container .skill{margin-bottom:30px}
section.skills .container .skills-container .skill h3{display:flex;justify-content:space-between;align-items:center}
section.skills .container .skills-container .skill h3 span{font-size:12px;padding:5px 10px;color:var(--main-color);border:1px solid #ededed}
section.skills .container .skill .illustration{margin-top:20px;width:100%;height:30px;text-align:start;background-color:#ededed}
section.skills .container .skill .illustration span{display:block;height:100%;background-color:var(--main-color)}
.work-steps .container .step{padding:20px;background-color:#f6f5f5;border:3px solid #fff;margin-bottom:35px;position:relative;overflow:hidden;display:flex;gap:20px;justify-content:space-between;align-items:center}
.work-steps .container .step::before{content:"";position:absolute;left:50%;top:50%;width:0;height:0;transform:translate(-50%,-50%);background-color:#ededed;transition:var(--main-transition);z-index:2}
.work-steps .container .step:hover:before{width:100%;height:100%}
.work-steps .container .step h3,.work-steps .step img,.work-steps .step p{position:relative;z-index:3}
.work-steps .container .step img{max-width:90px}
.work-steps .container .step h3{margin-bottom:10px;font-size:22px}
.work-steps .container .step p{font-size:18px;line-height:1.7;color:var(--subtext-color)}
.latest-events .container{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;gap:40px}
@media (max-width:1199px){
section.skills .container>img{max-width:380px}
.latest-events .container>img,.work-steps .container>img{max-width:360px}
}
.latest-events .container .info{flex:1;text-align:center}
.latest-events .container .counter{display:flex;gap:18px;justify-content:center}
.latest-events .container .counter>span{font-size:40px;border:2px solid #ececec;border-radius:10px;padding-top:20px;width:75px;text-align:center}
.latest-events .container .counter>span sub{font-size:16px;border-top:1px solid #e0e0e0;color:var(--subtext-color);font-weight:500}
.latest-events .counter>span:hover{border-color:transparent;transition:var(--main-transition);background-color:var(--main-color);color:#fff}
.latest-events .counter>span:hover sub{border-color:var(--alt-main-color);transition:var(--main-transition);color:#fff}
.latest-events .container .info h3{font-size:36px;margin:50px 0 30px}
.latest-events .container .info p{line-height:1.8;font-size:20px;color:var(--subtext-color-2)}
.latest-events .container .forms form{width:600px;padding:30px 40px;background-color:#f6f5f5;border-radius:50px;margin:10px auto;display:flex;gap:20px}
.latest-events form input[type=email],.latest-events form input[type=submit]{padding:20px;border:none;outline:0;border-radius:50px}
.latest-events form input[type=email]{flex:1;opacity:1}
.latest-events form input[type=email]:focus{caret-color:var(--main-color)}
.latest-events form input[type=email]:focus::placeholder{opacity:0;transition:var(--main-transition)}
.latest-events form input[type=submit]{color:#fff;font-weight:700;background-color:var(--main-color)}
.latest-events form input[type=submit]:hover{background-color:var(--alt-main-color);transition:var(--main-transition)}
@media (max-width:991px){
*{scrollbar-width:none}
.headsec .container .img img,.work-steps .container>img,header nav .other-links .mega-menu img,section.skills .container img{display:none}
.headsec .container .text h1{font-size:28px;text-align:center;line-height:1.4;padding-bottom:15px}
.headsec .container .text p{font-size:16px;line-height:1.5;text-align:center}
.work-steps .container .step{flex-direction:column;text-align:center;word-spacing:-1px}
.latest-events .container{justify-content:center}
.latest-events .container .forms form{max-width:100%;flex-direction:column;border-radius:0;gap:10px}
.latest-events .container form input[type=email],.latest-events .container form input[type=submit]{width:100%;border-radius:0}
}
.pricing .container{display:grid;grid-template-columns:repeat(auto-fill,minmax(300px,1fr));gap:30px}
.pricing .plan{box-shadow:rgba(99,99,99,.2) 0 2px 15px;background-color:#fff;overflow:hidden;position:relative;display:grid;z-index:3}
.pricing .plan.popular{transform:translateY(-20px);box-shadow:none;box-shadow:rgba(99,99,99,.3) 0 2px 18px}
@media (min-width:660px) and (max-width:1199px){
.pricing .plan:first-child{grid-row-start:1;grid-column-start:2}
.pricing .plan.popular{transform:translateY(0);box-shadow:none;box-shadow:rgba(99,99,99,.2) 0 2px 15px}
}
@media (max-width:659px){
.pricing .plan:first-child{grid-row-start:2}
.pricing .plan.popular{transform:translateY(0);box-shadow:none;box-shadow:rgba(99,99,99,.2) 0 2px 15px}
}
.pricing .plan.popular span{position:absolute;padding:20px 10px 40px;background-color:var(--main-color);font-size:18px;font-weight:800;color:#fff;writing-mode:vertical-lr;right:15px;top:0}
.pricing .plan.popular span::before{content:"";position:absolute;border-width:20px;border-style:solid;border-color:transparent transparent #fff;bottom:-1px;right:0}
.pricing .plan h3{text-align:center;font-size:25px;padding:30px 0;text-transform:capitalize}
.customize-plan .info h3,.customize-plan div.form h3,.stats .title{font-size:40px;text-transform:capitalize}
.pricing .plan img{max-width:100px;margin:0 auto;display:block}
.pricing .plan .price{text-align:center;margin:30px 0 42px;font-size:52px}
.pricing .plan .price sub{display:block;font-size:16px;font-weight:400;margin-top:10px;color:var(--subtext-color)}
.pricing .plan ul.plan-features li{padding:20px;border-top:solid var(--section-background-color) 1px;position:relative}
.pricing .plan ul.plan-features li i{padding-right:10px;color:var(--main-color);font-size:20px}
.pricing .plan>a{display:block;margin:30px auto;width:fit-content;padding:15px 20px;border:solid 2px var(--main-color);border-radius:6px;transition:var(--main-transition)}
.pricing .plan>a:hover{background-color:var(--main-color);color:#fff}
.pricing .plan::after,.pricing .plan::before{content:"";position:absolute;width:0;background-color:#f6f6f6;transition:var(--main-transition);z-index:-1}
.pricing .plan::before{left:0;top:0;height:44%}
.pricing .plan::after{right:0;bottom:0;height:56%}
.pricing .plan ul.plan-features li:hover{color:#fff;text-align:center;background-color:var(--main-color);padding-left:0;transition:var(--main-transition)}
.pricing .plan ul.plan-features li:hover i{color:#fff;transition:var(--main-transition)}
.pricing .plan.popular:hover>span::before{transition-delay:.21s;border-color:transparent transparent #f6f6f6}
.videos .container{display:flex;justify-content:center;text-transform:capitalize}
.stats .container,footer .container{display:grid;grid-template-columns:repeat(auto-fill,minmax(250px,1fr))}
.videos .container .videos-list{border:1px solid #e0e0e0;min-width:300px}
.videos .container .videos-list h4{font-size:18px;padding:20px;background-color:#ededed;display:flex;justify-content:space-between}
.videos .container .videos-list ul li{padding:20px;border:1px solid #e0e0e0}
.videos .container .videos-list ul li:hover{background-color:#f6f6f6;transition:var(--main-transition)}
.videos .container .videos-list ul li a{display:block;padding-bottom:5px;color:#000}
.videos .container .videos-list ul li span{display:block;color:var(--subtext-color-2)}
.videos .container .video{flex:1;padding:10px;background-color:#e0e0e0;display:flex;flex-direction:column;justify-content:space-between}
@media (max-width:329px){
.videos .container .video{display:none}
}
.videos .container .video .title{background-color:#fff;padding:20px}
.stats{background-image:url(images/stats.jpg);background-position:center;background-size:cover;position:relative;overflow:hidden}
.stats::before{content:"";position:absolute;top:0;left:0;background-color:rgb(255 255 255 / 94%);width:100%;height:100%;z-index:2}
.stats .title{text-align:center;font-weight:700;margin:0 auto 50px;position:relative;z-index:3}
@media (max-width:767px){
header .container{justify-content:center}
header .logo{width:100%;height:55px}
header nav>ul>li a{padding:0 10px;font-size:18px;height:40px;transition:none}
header nav .other-links .mega-menu{padding:20px;flex-direction:column;gap:0}
header nav .other-links .mega-menu ul.links,section.team .container .member::before,section.team .container .member:hover::after{width:100%}
header nav .other-links .mega-menu ul.links:first-of-type li:last-child{border-bottom:1px solid #e9e6e6}
section.team .container .member .data{padding:20px 0 0 20px}
section.team .container .member .icon i{color:var(--main-color)}
section.team .container .member .info{text-align:center;padding:20px}
.latest-events .container .info h3{font-size:30px;margin:50px 0 30px}
.latest-events .container .info p{font-size:18px;padding:0 10px}
.stats .title{font-size:30px}
}
@media (max-width:375px){
header nav>ul>li>a{padding:0 5px;font-size:14px}
}
.stats .container{gap:20px;position:relative;z-index:3}
.stats .container .card{padding:30px;background-color:#fff;position:relative}
.stats .container .card::after,.stats .container .card::before{content:"";position:absolute;width:3px;height:0;background-color:var(--main-color);transition:.7s}
.stats .container .card::before{top:0;right:0}
.stats .container .card::after{bottom:0;left:0}
.stats .container .card:hover::after,.stats .container .card:hover::before{height:100%}
.stats .container .card i{font-size:35px;display:block;width:fit-content;margin:0 auto 10px}
.stats .container .card:first-child i{color:navy}
.stats .container .card:nth-child(2) i{color:#7cfc00}
.stats .container .card:nth-child(3) i{color:#20b2aa}
.stats .container .card:last-child i{color:gold}
.stats .container .card .counter{font-size:50px;font-weight:700;text-align:center;color:#333}
.stats .container .card .type{font-size:20px;color:var(--main-color);font-weight:700;text-align:center;margin-top:5px;font-style:italic}
.customize-plan{display:flex;min-height:100vh;text-align:center;position:relative}
.customize-plan .info{flex-basis:50%;background-image:url(images/customize-plan-background1.jpg);display:flex;justify-content:center;align-items:center;flex-direction:column;gap:35px;position:relative;z-index:-1;animation:8s ease-in-out infinite clange-background}
.customize-plan .info::before{content:"";position:absolute;width:100%;height:100%;left:0;top:0;background-color:rgba(23,134,224,.92);z-index:-2}
.customize-plan .info h3{color:#fff;letter-spacing:-1px}
.customize-plan .info p{color:#fff;font-size:19px;line-height:1.8;max-width:500px;font-weight:600}
@media (max-width:600px){
.customize-plan .info p{font-size:16px;max-width:350px}
}
@media (max-width:375px){
.customize-plan .info h3{font-size:30px}
.customize-plan .info p{font-size:16px;max-width:260px}
}
.customize-plan .info img{width:300px;max-width:100%}
.customize-plan .form{flex-basis:50%;text-align:center;margin:auto}
.customize-plan div.form h3{margin-bottom:35px;letter-spacing:-2px}
.customize-plan div.form form{display:flex;flex-direction:column;gap:25px}
.customize-plan div.form form input,.customize-plan div.form form textarea{display:block;width:300px;margin:auto;padding:15px;border:none;border-bottom:1px solid #cecece;background-color:#f9f9f9;outline:0}
.customize-plan div.form form textarea{resize:none;height:200px}
.customize-plan div.form form input[type=submit]{background-color:var(--main-color);color:#fff;font-size:20px;font-weight:700;border:none}
@media (max-width:340px){
.features .container,.gallery .container,.pricing .container,.testimonials .container,section.services .container,section.team .container{grid-template-columns:repeat(auto-fill,minmax(250px,1fr))}
.latest-events h2,.pricing h2,.testimonials h2,.work-steps h2{overflow:hidden}
.latest-events .container>img{max-width:100%}
.latest-events .container .counter{gap:5px}
.latest-events .container .counter>span{font-size:30px;width:60px;padding-top:10px}
.latest-events .container .counter>span sub{font-size:14px}
.videos .container .videos-list{min-width:200px;flex:1}
.customize-plan div.form h3{font-size:30px}
.customize-plan div.form form input,.customize-plan div.form form textarea{width:250px;max-width:100%}
}
footer{background-color:#191919;padding:70px 0 0}
footer .container{gap:30px}
footer .container .social-links h3{color:#fff;font-size:40px}
footer .container .social-links .links{display:flex;gap:15px;padding:25px 0}
footer .container .social-links .links a{font-size:20px;width:50px;height:50px;color:#b9b9b9;background-color:#313131;display:flex;align-items:center;justify-content:center;transition:var(--main-transition)}
footer .container .social-links .links a:first-child:hover{background-color:#1877f2}
footer .container .social-links .links a:nth-child(2):hover{background-color:#000}
footer .container .social-links .links a:last-child:hover{background-color:red}
footer .container .social-links p{color:#b9b9b9;line-height:2}
footer .container .important-links li.link{padding:15px 0}
footer .container .important-links li.link:not(:last-child){border-bottom:.1px solid #444}
footer .container .important-links li.link i{color:var(--main-color);transition:var(--main-transition)}
footer .container .important-links li.link a{color:#b9b9b9;padding-left:10px;transition:var(--main-transition)}
footer .container .important-links li.link:hover i{padding-left:10px}
footer .container .contact-info div{display:flex;align-items:center;gap:10px;margin-bottom:30px}
footer .container .contact-info div i{color:var(--main-color);font-size:25px}
footer .container .contact-info div p{color:#b9b9b9;line-height:1.7;flex:1;cursor:pointer}
footer .container .foot-gallery{text-align:center}
footer .container .foot-gallery img{max-width:80px;border:3px solid #fff;margin:2px}
@media (max-width:1199px){
.videos .container{flex-direction:column-reverse}
.customize-plan{flex-direction:column}
.customize-plan .form,.customize-plan .info{flex-basis:100%;padding:var(--bottom-sec-padding) 0}
footer .container{grid-template-columns:repeat(2,minmax(250px,1fr))}
}
@media (max-width:600px){
footer .container{text-align:center;grid-template-columns:repeat(1,minmax(200px,1fr))}
footer .container .social-links .links{justify-content:center}
footer .container .contact-info div{flex-direction:column}
}
footer>p{color:#fff;text-align:center;border-top:1px solid #444;padding:25px 0;margin-top:50px}
@keyframes up-and-down{
0%,100%{top:0}
50%{top:-50px}
}
@keyframes X-moving{
100%{transform:translateX(10px)}
}
@keyframes clange-background{
0%,100%{background-image:url(images/customize-plan-background1.jpg)}
50%{background-image:url(images/discount-background2.jpg)}
}
@media (max-width: 267px) {
  header,section,.customize-plan,footer{
    display: none;
  }
  .small-screen{
    display: block !important;
    height: 100vh;
    padding: 35% 25px 0;
    background-color: #111829;
    color: #fff;
    font-weight: bold;
    line-height: 2;
    text-align: center;
  }
}